html{
	/*scroll-behavior: smooth;*/
}
body{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}
.flexBox{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
}
.outerWrapper{
	width: 100%;
}
.pageWrapper{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}
.navBox{
	width: 50%;
	background-color: #222;
	background-size: 100%;
}
.navContainer{
	width: 25%;
	margin-left: 5%;
	margin-top: 5%;
	position: fixed;
	z-index: 99;
	color: #fff;
}
.logoHolder{
	width: 250px;
}
.logoHolder > img{
	width: 100%;
}
.navlist{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 50px;
}
.navlist li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	padding: 8px 0px;
	display: inline-block;
	font-size: 16px;
}
.navlist li a:hover, .navlist li a:focus{
	color: #008fd5;
	outline: none;
}
.contentBox{
	max-width: 50%;
	min-width: 49%;
}
.webfl_column{
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
}
.webfl_al_center{
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
}
.webfl_js_center{
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
}
.BG_home{
	background-image: url(../images/bg_home.jpg);
	
}
.BG_zcodez{
	background-image: url(../images/bg_zcodez.jpg);
}
.BG_strategy{
	background-image: url(../images/bg_strategy.jpg);
}
.BG_capability{
	background-image: url(../images/bg_capability.jpg);
}
.BG_prodfolio{
	background-image: url(../images/bg_prodfolio.jpg);
}
.BG_team{
	background-image: url(../images/bg_team.jpg);
}
.BG_careers{
	background-image: url(../images/bg_strategy.jpg);
}
.BG_contact{
	background-image: url(../images/bg_contact.jpg);
}
.homeContent{
	padding: 0px 20%;
}
.homeContent h1{
	color: #008fd4;
	font-size: 70px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	line-height: 92px;
}
h1, p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
*{
	box-sizing: border-box;
}
.homeContent p{
	text-align: center;
	font-size: 18px;
	color: #777;
	font-weight: 400;
	line-height: 2;
}
.semiSection{
	padding: 0px 15%;
}
.semiSection h1{
	font-size: 42px;
	font-weight: 600;
	color: #008fd4;
}
.semiSection p{
	font-size: 16px;
	color: #888;
	line-height: 26px;
}
.iconTiles{
	width: 100%;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.iconTiles > div{
	text-align: center;
	width: 30%;
	padding-top: 30px;
}
.iconTiles h2{
	font-size: 18px;
	font-weight: 400;
	color: #888;
	text-align: center;
}
@media only screen and (max-width: 600px) {
  
}