html{
	/*scroll-behavior: smooth;*/
}
body{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}
.flexBox{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
}
.outerWrapper{
	width: 100%;
}
.pageWrapper{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}
.navBox{
	width: 50%;
	background-color: #222;
	background-size: 100%;
}
.navContainer{
	width: 25%;
	margin-left: 5%;
	margin-top: 5%;
	position: fixed;
	z-index: 99;
	color: #fff;
}
.logoHolder{
	width: 250px;
}
.logoHolder > img{
	width: 100%;
}
.navlist{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 50px;
}
.navlist li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	padding: 8px 0px;
	display: inline-block;
	font-size: 16px;
}
.navlist li a:hover, .navlist li a:focus{
	color: #008fd5;
	outline: none;
}
.contentBox{
	width: 50%;
}
.webfl_column{
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
}
.webfl_al_center{
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
}
.webfl_js_center{
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
}
.BG_home{
	background-image: url(../images/bg_home.jpg);
}
.BG_zcodez{
	background-image: url(../images/bg_zcodez.jpg);
}
.BG_strategy{
	background-image: url(../images/bg_strategy.jpg);
}
.BG_capability{
	background-image: url(../images/bg_capability.jpg);
}
.BG_prodfolio{
	background-image: url(../images/bg_prodfolio.jpg);
}
.BG_team{
	background-image: url(../images/bg_team.jpg);
}
.BG_careers{
	background-image: url(../images/bg_strategy.jpg);
}
.BG_contact{
	background-image: url(../images/bg_contact.jpg);
}
.homeContent{
	padding: 0px 20%;
}
.homeContent h1{
	color: #008fd4;
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	line-height: 60px;
}
h1, p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
*{
	box-sizing: border-box;
}
.homeContent p{
	text-align: center;
	font-size: 18px;
	color: #777;
	font-weight: 400;
	line-height: 1.5;
}
.semiSection{
	padding: 0px 15%;
}
.semiSection h1{
	font-size: 42px;
	font-weight: 600;
	color: #008fd4;
}
.semiSection p{
	font-size: 16px;
	color: #888;
	line-height: 26px;
}
.iconTiles{
	width: 100%;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.iconTiles > div{
	text-align: center;
	width: 30%;
	padding-top: 10px;
}
.iconTiles h2{
	font-size: 18px;
	font-weight: 400;
	color: #888;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 0px;
}
.MobMenu{
	width: 40px;
	height: 30px;
	/*border: 1px solid #fff;*/
	position: fixed;
	z-index: 102;
	right: 30px;
	top: 30px;
	/*border-radius: 3px;*/
	transition: all .3s;
	display: none;
}
.MobMenu span{
	display: block;
	height: 2px;
	background-color: #fff;
	margin-bottom: 6px;
	margin-top: 5px;
	width: 30px;
	margin-left: 4px;
	transition: all .3s;
}
.MobMenu span:nth-child(1){
	width: 26px;
}
.MobMenu span:nth-child(2){
	width: 30px;
}
.MobMenu span:nth-child(3){
	width: 24px;
}
.prodfolioImg .slide{
  	text-align: center;
}
.prodfolioImg .slide > img{
	width: 90%;
}
.teamDemo{
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-wrap: wrap;
	height: 100%;
	width: 70%;
	margin: 10% 15% 0px 15%;
}
.prodDemo{
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-wrap: wrap;
	height: 100%;
	width: 70%;
	margin: 10% 15% 0px 15%;
}
.homeDemo{
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-wrap: wrap;
	height: 90%;
	width: 94%;
	margin: 10% 3% 0px 3%;
}
.teamItem{
	width: 100%;
	height: 500px;
	align-items: center;
}
.teamImage{
	width: 50%;
	position: relative;
	margin:0px auto;
}
.teamImage > img{

}
.prodImage{
	width: 100%;
	position: relative;
	margin:0px auto;
}
.prodImage > img{
	
}
.teamHover{
	width: 100%;
	position: absolute;
	top: 0px;
	background-color: rgba(0,143,213,.7);
	height: 100%;
	opacity: 0;
	transition: all .3s;
	margin-top: 40px;
}
.teamImage:hover .teamHover{
	opacity: 1;
	margin-top: 0px;
}
.prodImage:hover .teamHover{
	opacity: 1;
	margin-top: 0px;
}
.teamTitle{
	font-size: 42px;
    font-weight: 600;
    color: #008fd4;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.semiSection p  a{
	color: #008fd5;
}
.contactForm{
	width: 70%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contactForm h2{
	font-size: 42px;
    font-weight: 600;
    color: #008fd4;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.contactStack{
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.halfWid{
	width: 48%;
}
.fullwid{
	width: 100%;
}
.mdl-textfield{
	width: 100%;
}
.btn_holder{
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
.btn_holder .mdl-button{
	border-radius: 30px;
	padding: 7px 45px;
	font-size: 16px;
	height: auto;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
		background-color: #6a6a6a;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #008fd4;
}
.mdl-textfield__label:after{
	background-color: #008fd4;
}
.addressBar{
	width: 70%;
	justify-content: space-between;
	margin-bottom: auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #808080;
}
.addressBar div{
	width: 48%;
	line-height: 28px;
}
.addressBar div:nth-child(2){
	text-align: right;
}
.addressBar h3{
	font-size: 14px;
    color: #808080;
    line-height: 28px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.succ_contact{
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #008fd4;
	padding: 50px  20px;
	text-align:center;
}
.messageNote{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #2ecc71;
	padding: 20px  20px;
	text-align:center;
}
/*spinner*/
.loader_div{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #ccc;
	display: none;
	z-index: 1050;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
}
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*spinner ends*/
@media only screen and (max-width: 1366px) {
	.homeContent h1{
		font-size: 42px;
    	font-weight: 600;
	}
	.homeContent h1 br{
		display: none;
	}
}
@media only screen and (max-width: 1280px) {
	
	.homeContent{
		padding: 0px 10%;
	}
	.teamImage{
		width: 75%;
	}
}
@media only screen and (max-width: 600px) {
  .homeContent h1{
  	font-size: 36px;
  	line-height: 1;
  	margin-top: 0px;
  }
  .homeContent h1 br{
  	display: none;
  }
  .homeContent p{
  	font-size: 14px;
  	line-height: 1.5;
  }
  .pageWrapper{
  	flex-direction: column;
  }
  .navBox{
  	width: 100%;
  	height: 35%;
  	background-position: center;
  }
  .contentBox{
  	width: 100%;
  	height: 65%;
  	overflow: auto;
  }
  .homeContent{
  	padding: 20px 20px;
  }
  .semiSection{
  	padding: 15px 15px;
  }
  .semiSection{
  	overflow: auto;
  }
  .semiSection h1{
  	font-size: 32px;
  	margin: 10px 0px;
  }
  .semiSection p{
  	font-size: 12px;
  	line-height: 1.5;
  }
  .iconTiles h2{
  	font-size: 16px;
  	margin:0px;
  	line-height: 1;
  	padding-top: 10px;
  }
  .iconTiles > div{
  	padding-top: 10px;
  }
  .iconTiles > div > img{
  	width: 30%;
  }
  .prodfolioImg{
  	text-align: center;
  }
  .prodfolioImg > img{
  	width: 90%;
  }
  .homeDemo{
  	margin: 0px;
  	width: 100%;

  }
  .navContainer{
  	width: 100%;
 	margin-left: 0px;
  }
  .navlist{
  	margin-top: 10px;
  	padding-left: 20px;
  	padding-right: 20px;
  	background-color: rgba(0,0,0,.9);
  	box-sizing: border-box;
  	display: none;
  	animation: flyIn .5s;
  }
  @keyframes flyIn{
  	0%{margin-top: -20px; opacity: 0;}
  	100%{margin-top: 10px; opacity: 1;}
  }
  .navlist li a{
  	display: block;
  }
  .navlist li{
  	border-bottom: 1px solid rgba(0,143,213,.2);
  }
  .activeMenu span{
	background-color: rgba(0,143,213,1);
  }
  .MobMenu{
	display: block;
  }
  .activeMenu span:nth-child(1){
  	transform: rotate(180deg);
  	width: 30px;
  	margin-left: 100px;
  }
  .activeMenu span:nth-child(2){
  	transform: rotate(45deg);
  	width: 30px;
  }
  .activeMenu span:nth-child(3){
  	transform: rotate(-45deg);
  	width: 30px;
	margin-top: -7px;
  }
  .contactForm h2{
  	font-size: 32px;
  }
  .contactForm{
  	width: 94%;
  }
  .halfWid{
  	width: 100%;
  }
  .addressBar{
  	width: 94%;
  }
  .addressBar div{
  	width: 100%;
  }
  .addressBar{
  	flex-wrap: wrap;
  }
  .addressBar div:nth-child(1),.addressBar div:nth-child(2){
  	text-align: center;
  }
  .addressBar div br{
  	/*display: none;*/
  }
  .BG_capability{
  	height: 25%;
  }
  .device75{
  	height: 75%;
  }
  .iconTiles h2{
  	font-size: 13px;
  }
  .teamDemo{
  	width: 100%;
  	margin: 0px;
  }
  .teamItem{
  	height: auto;
  }
  .BG_contact{
  	height: 20%;
  }
  .mdl-textfield{
  	/*padding: 20px 0px 5px 0px;*/
  }
  .mdl-textfield__input{
  	/*padding-top: 20px;*/
  }
  .contactForm h2{
  	margin-top: 5px;
  	margin-bottom: 10px;
  }
  .mdl-textfield{
  	/*padding: 5px 0px 20px 0px;*/
  }
  .mdl-textfield__label{
  	/*top: 5px;*/
  }
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
  	/*top: -5px;*/
  }
  .mdl-textfield__input{
  	font-family: 'Montserrat', sans-serif;
  	font-size: 16px;
  }
  .addressBar div{
  	font-size: 13px;
  	line-height: 1.5;
  }
  .addressBar div br{
  	display: none;
  }
  .teamImage{
  	width: 60%;
  }
}